<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^(.+)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" pattern="^.*\.(gif|jpg|jpeg|png|swf|css|js)$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php?{QUERY_STRING}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
